$primary: #ffe500;
$primaryD: #e6cf00;
$secondary: #202121;
$red: #DE1F1F;
$green: #8ABA18;

$lightShade: #F8F8F8;
$borderGray: #EEEEEE;
$mediumGray: #999999;
$normalGray: #777777;
$darkGray: #333333;



$minWidth: 'min-width';
$maxWidth: 'max-width';
$xs: 560px;
$sm: 768px;
$md: 992px;
$mc: 1080px;
$lg: 1200px;
$xlg: 1326px; /* for 1366 resolution */
$xxlg: 1400px; /* for 1440 resolution */
$xxxlg: 1560px; /* for 1600 resolution */
